.slick-slide {
  height: 140px;

  @media screen and (min-width: 769px) {
    height: 350px;
  }

  @media screen and (min-width: 1025px) {
    height: 560px;
  }

  img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease-out;

    @media screen and (min-width: 769px) {
      height: 350px;
    }

    @media screen and (min-width: 1025px) {
      height: 560px;
    }
  }

  &::after {
    content: '';
  }

  &.slick-cloned {

    &::after {
      content: url(/static/images/loader.svg);
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      opacity: 0;
    }

    &:not(:first-of-type) {
      position: absolute;
      opacity: 0;
    }
  }
}

.slick-vertical .slick-slide {
  border: 0;
}
