@import 'foundation-sites/scss/util/util';

$global-width: rem-calc(1800);

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

$print-breakpoint: large;
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 20px,
  medium: 40px,
  large: 40px,
);

// round
$spacing-gutter: (
  small: 10px,
  medium: 20px,
  large: 30px,
);

$grid-column-align-edge: false;
$block-grid-max: 8;
